extends ../layout.jade

block content
	#details
		.videobg
			.videoContainer
				embed(src="#{movie.flash}",allowFullScreen="true",quality="high",width="800",height="520",align="middle",type="application/x-shockwave-flash")
		.container
			.row
				.col-md-7.comment
					ul#commentUl
						each item in comments
							li
								p 
									span.from #{item.from.name}
									span.time #{item.dateString}
								p.content #{item.content}
					form(id="commentForm" method="POST" action="/user/comment")
						input(type="hidden" name="movie" value="#{movie._id}")
						input#date(type="hidden" name="date" value="")							
						.form-group
							label.control-label(for='content') 评论
							textarea#content.form-control(placeholder="想说啥说啥..." name="content" type='text' maxlength="300" rows="6")
						if user	
							input.btn.btn-info(type="submit" value="提交")
							input.clear(type="hidden" name="from" value="#{user._id}")
						else
							a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") 登录后评论			
				.col-md-4.intro
					dl.dl-horizontal
						dt 名称
						dd= movie.title
						dt 类型
						dd= movie.type    
						dt 简介
						dd= movie.summary
	script(src="/js/detail.js")
	script(src="/js/commentAjax.js")		
			

#signinModal.modal.fade
.modal-dialog
	.modal-content
		form(method="POST", action="/user/signin")
			.modal-header 登录
			.modal-body
				.form-group
					label(for="signinName") 用户名
					input#signinName.form-control(name="name", type="text")
				.form-group
					label(for="signinPassword") 密码
					input#signinPassword.form-control(name="password", type="password")
			.modal-footer
				button.btn.btn-default(type="button", data-dismiss="modal") 关闭
				button.btn.btn-success(type="submit") 提交								


