
extends ../layout.jade

block content
	#index
		.welcome
			h1 欢迎你来到&nbsp;课间
			p 我们每天精选一首mv，一个故事，一段演讲呈现给你
			p 进来休息一下吧
		.container
			content
				each item in movies
					.row.second
						.col-md-6.grid
								figure.effect-jazz
									img.img-thumbnail(src="img/#{item.type}.jpg")
									figcaption											
										h1 [ONE #{item.type}] 
										p 
											span.glyphicon.glyphicon-play-circle
										a(href="/movie/#{item._id}")								
						.col-md-4.intro
								h1 ONE #{item.type}
								h3 #{item.title}
								p #{item.summary}